<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find ucsd_robo_car_ros)/launch/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.2" />
        <arg name="urdf_robot_file" value="$(find ucsd_robo_car_ros)/urdf/my_robot.urdf" />
        <arg name="robot_name" value="my_robot" />
    </include>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_map" args="1.0 0.0 0.0 0.0 0.0 0.0 base_link map 100"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0.0 0.0 0.0 0.0 0.0 1.0 /vesc/odom map 1000"/> -->
    <node pkg="tf" type="static_transform_publisher" name="lidar_link_broadcaster" args="0 0 0.065 0 0 0 1 base_link lidar_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 0 0 0 0 1 base_link camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_FL_link_broadcaster" args="0 0 0 0 0 0 1 base_link wheel_FL 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_FR_link1_broadcaster" args="0 0 0 0 0 0 1 base_link wheel_FR 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_RL_link1_broadcaster" args="0 0 0 0 0 0 1 base_link wheel_RL 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_RR_link1_broadcaster" args="0 0 0 0 0 0 1 base_link wheel_RR 100" />
</launch>
