<?xml version="1.0"?>
<launch>
  <!-- Optionally launch in GDB, for debugging -->
  <arg name="debug" default="false" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- VESC to Odom node -->
  <node pkg="vesc_ackermann" type="vesc_to_odom_node" name="vesc_to_odom_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_link" />
    <param name="speed_to_erpm_gain" value="1.0" />
    <param name="speed_to_erpm_offset" value="0.0" />
    <param name="use_servo_cmd_to_calc_angular_velocity" value="true" />
    <param name="steering_angle_to_servo_gain" value="1.0" />
    <param name="steering_angle_to_servo_offset" value="0.0" />
    <param name="wheelbase" value="0.3" />
    <param name="publish_tf" value="true" />
  </node>
</launch>
